.form-control:focus,
.btn:focus {
    box-shadow: none;
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    justify-content: center;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {

    /* gutter size */
    background-clip: padding-box;
}